/***************************** COLORS *****************************/
$dark-grey: #aaa;

/***************************** FONTS *****************************/
// USING CDNS
$great-vibes: 'Great Vibes', cursive;

/***************************** COMMON CLASSES *****************************/
body {
   overflow-x: hidden; // for horizontal slide in animations
}
.common-title {
   display: inline-block; // adjust so that hover effect is on text not the entire display block
   font-size: 3rem;
   font-weight: 500;
   text-shadow: 2px 2px 5px $dark-grey;
   transition: all .5s;

   &::first-letter {
      font-family: $great-vibes;
      font-size: 5rem;
      margin-right: 10px;
      font-style: normal;
      line-height: 3.5rem;
   }

   &:hover {
      transform: translate(-5px, -3px);
      text-shadow: 2px 5px 20px $dark-grey;
   }
}

/***************************** NAVIGATION *****************************/

/***************************** HEADER *****************************/
header {
   height: 100vh;
   background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.8)) ,url(/assets/img/header-bg.jpeg) fixed center no-repeat / cover;
   clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);

   .banner-heading {
      
      &::first-letter {
         font-family: 'Great Vibes', cursive;
         font-size: 10rem;
         margin-right: 20px;   
      }

      img {
         animation: beating 3s infinite;
      }
   }

   @keyframes beating {
      0% {
         transform: scale(1);
      }
      40% {
         transform: scale(1.1);
      }
      60% {
         transform: scale(1.05);
      }
      80% {
         transform: scale(1.1);
      }
      100% {
         transform: scale(1);
      }
   }
}

/***************************** GALLERY *****************************/
#gallery {

   .gallery-img {
      transition: all .5s;
      backface-visibility: hidden;

      &:hover {
         transform: scale(1.05);
      }
   }

   // Gallery animation - start with offscreen and hidden
   .first-row {
      transform: translateX(-300px);
      opacity: .5;
      transition: all 2.5s;
      
   }

   .second-row {
      transform: translateX(300px);
      opacity: .5;
      transition: all 2.5s;
   }

   // jQuery adds the .change class to the gallery row when the veritcal scroll puts them into view
   .change.first-row, .change.second-row {
      transform: translateX(0);
      opacity: 1;
   }
}
/***************************** FAMOUS WRITERS *****************************/
/***************************** SUGGESTED BOOKS *****************************/
/***************************** POPULAR BOOKS *****************************/
/***************************** FOOTER *****************************/

/***************************** MEDIA QUERIES *****************************/
