/***************************** COLORS *****************************/
/***************************** FONTS *****************************/
/***************************** COMMON CLASSES *****************************/
body {
  overflow-x: hidden;
}

.common-title {
  display: inline-block;
  font-size: 3rem;
  font-weight: 500;
  text-shadow: 2px 2px 5px #aaa;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.common-title::first-letter {
  font-family: "Great Vibes", cursive;
  font-size: 5rem;
  margin-right: 10px;
  font-style: normal;
}

.common-title:hover {
  -webkit-transform: translate(-5px, -3px);
          transform: translate(-5px, -3px);
  text-shadow: 2px 5px 20px #aaa;
}

/***************************** NAVIGATION *****************************/
/***************************** HEADER *****************************/
header {
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.8))), url(/assets/img/header-bg.jpeg) fixed center no-repeat/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(/assets/img/header-bg.jpeg) fixed center no-repeat/cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

header .banner-heading::first-letter {
  font-family: 'Great Vibes', cursive;
  font-size: 10rem;
  margin-right: 20px;
}

header .banner-heading img {
  -webkit-animation: beating 3s infinite;
          animation: beating 3s infinite;
}

@-webkit-keyframes beating {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  60% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  80% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes beating {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  60% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  80% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/***************************** GALLERY *****************************/
#gallery .gallery-img {
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#gallery .gallery-img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#gallery .first-row {
  -webkit-transform: translateX(-300px);
          transform: translateX(-300px);
  opacity: .5;
  -webkit-transition: all 2.5s;
  transition: all 2.5s;
}

#gallery .second-row {
  -webkit-transform: translateX(300px);
          transform: translateX(300px);
  opacity: .5;
  -webkit-transition: all 2.5s;
  transition: all 2.5s;
}

#gallery .change.first-row, #gallery .change.second-row {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

/***************************** FAMOUS WRITERS *****************************/
/***************************** SUGGESTED BOOKS *****************************/
/***************************** POPULAR BOOKS *****************************/
/***************************** FOOTER *****************************/
/***************************** MEDIA QUERIES *****************************/
/*# sourceMappingURL=style.css.map */